
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Baskervville+SC&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
}
body{
    background: rgb(59,62,65);
    background: -moz-linear-gradient(231deg, rgba(59,62,65,1) 7%, rgba(0,0,0,0.7344187675070029) 37%, rgba(3,49,26,0.6251750700280112) 66%, rgba(3,42,36,1) 100%);
    background: -webkit-linear-gradient(231deg, rgba(59,62,65,1) 7%, rgba(0,0,0,0.7344187675070029) 37%, rgba(3,49,26,0.6251750700280112) 66%, rgba(3,42,36,1) 100%);
    background: linear-gradient(231deg, rgba(59,62,65,1) 7%, rgba(0,0,0,0.7344187675070029) 37%, rgba(3,49,26,0.6251750700280112) 66%, rgba(3,42,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b3e41",endColorstr="#032a24",GradientType=1);



    overflow-x:hidden;
}
/** header */
.mobile-nav-icon{
    display: none; }

.header{
    
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    padding-top: 39px;

    height: 59px;
}

/* *navbar */
.navbar-list{
    display: flex;
    gap: 4.8rem;
    list-style: none;
}
.navbar {
    
    position: relative;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 10px 20px;
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover,
.navbar-link:active {
    color: #06FAEC;
    
}

.highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #06FAEC;
    transition: all 0.25s ease-out;
}



.mobile-nav-icon[name='close-outline']{
    color: white;
    display: none;
}





/** logo */
.header .logo{
    color: white;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
}

.header .logo samp{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    color: aqua;
    height: 3rem;
    text-shadow: 1px 5px  19px  #06FAEC;
    
}

.mobile-nav-icon{
width: 40px;
height: 40px;
}




/* *hero section */
.section-hero{
    
    height: 100vh   ;
    width: 100%;
    /* border: solid red; */
    display:flex;
    justify-content: center;
    gap: 3%;
    
   

}
.hero img{
    width: 99%;
    height: 100%;
  
   


}
#heroText{
    color: white;
    margin-top: 29vh;
    font-size: 27px;
    text-align: center;  
}   
#heroText h1 span{
    color: #06FAEC;
}
#heroText h1{
    padding-top: 19px;
    font-style: italic;
    letter-spacing: 2.4px;
    
    
}
#heroText #from{
    font-size: 37px;

}
#heroText p{
    font-style: italic;
    margin-top: 15px;
    font-size: 20px;
    
}


/* ?about section */
.about-section{
    
    width: 100%;
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
}
.ima_ab{
    background-color:#313131;
    height: 70vh;
    width: 60vh;

    border-radius: 35px;

}

#My_img{
    text-align: center;
    
}
#My_img img{
    height:100% ;
    border-radius: 35px;
}

#about_me{
    color: white;
    padding-top: 20px;

}


#A_M{
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    margin-left: 20px;
}
#me{
    padding-left: 23px;
    margin-top: 25px;
    width: 55vh;

}
#divboutDownloadCV{
    display:flex;
    justify-content: end;
    margin-right:-7px;
    margin-top: 50px;
    
    
   
    
}

#divboutDownloadCV a{
    background-color: rgb(8, 8, 8);
    text-decoration: none;
    color: white;
    padding: 2px;
    border-radius: 30px;
    font-size: 10px;
}

#divboutDownloadCV a:hover{
  color: #06FAEC;
}

/* ? experience and education div*/

.main_container{
    margin: 15px auto;
    background: rgba(217, 165, 165, 0);
    width: 300px;
    height: 200px;
    
    
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 59px;
    margin: 30px;
    

}
.buttons button{
    border: none;
    background: none;
    width: 50px;
    height: 25px;
    color: rgb(255, 255, 255);
    font-size: 16px;
  

}

.buttons button:hover{
    color: #06FAEC;

}

.blocks{
    display:flex ;
    width: 100%;
    height: 100%;
}

.blocks .diva h4{
    color: rgb(255, 255, 255);
    
    font-size: 15px;
    
}

.blocks .diva p{
    font-size: 15px;
    color: #b0a9a9;
    
}

.diva{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
}
.divb{
    display: none;
    width: 100%;
    height: auto;

}





button.active,
button.active:hover {
   color: #06FAEC;
  
  
}




/* ? my skill section */
.sub-title {
    text-align: center;
    font-size: 47px;
    padding-bottom: 0px;
    padding-top: 50px;
    color: white;
}

.sub-title span {
    color: #06FAEC;
}

#skillSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.container1 {
    width: 600px;
    padding: 75px 90px;
}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: whitesmoke;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: white;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #06FAEC;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transition: scaleX(0);
    transform-origin:left ;
}

/* ? my Technical skills*/ -->



#imgsk{
    text-align: center;
}
#skills img{
    width: 11vh;
    margin: 30px;
}

#skills i{
    width: 11vh;
    margin: 30px;
    font-size: 50px;
}
#skills i p{
    margin-top: 5px;
font-size: 20px;
color: rgb(255, 255, 255);
  
}

/* ? My Professional skills */

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}
.radial-bars .radial-bar{
    width: 50%;
    height:140px ;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) rotate(-90deg) ;
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: rgb(255, 255, 255);
    fill: transparent;
    stroke-dasharray:502 ;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset:-1 ;
    }
}
.path{
    stroke-width: 10;
    stroke: #06FAEC;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset:502 ;
    stroke-linecap: round;
    


}
.path-1{animation:animate-path1 1s linear forwards;}
.path-2{animation:animate-path2 1s linear forwards;}
.path-3{animation:animate-path3 1s linear forwards;}
.path-4{animation:animate-path4 1s linear forwards;}


@keyframes animate-path1{
    100%{
        stroke-dashoffset:55;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset:45;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 70;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset:40;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;

}
.progress-bar .text{
    width:100% ;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    animation:showText 0.5s 1s linear forwards;
    opacity: 0;
}


/* ? project section */
/* !------------------------------------------------------------------------------- */
 /*? timeline */
 .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /*? My Project  Container around content */
  .container {
    padding: 10px 50px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /*? The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:  rgb(0, 0, 0);
    border: 4px solid  #06FAEC;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /*? Place the container  */
  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }
  

  /*? Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* ?Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* ?The actual content */
  img{
    width: 100%;
   }
   
  .content {
    padding: 0px 0px 10px 0px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: center;
    transition: 0.5s;

   }
   .content:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 5px rgb(62, 61, 61);
   }
  
 

  .btn{
    margin-top: 10px;
    display: inline-block;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
    transition: 0.5s;

}


.btn:hover{
  transition: 0.5s;
  color: #06FAEC;
  box-shadow: 5px 5px 5px rgb(62, 61, 61);

}

#gitg{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top: 55px;
  margin-bottom: -4px;
}

#git{
  color: white;
  width: 10vh;
  transition:0.5s ;
}

#git img{
background: #ffffff;
width: 100%;
border-radius: 20px;
transition:0.5s ;



}
#git img:hover{
  background: #06FAEC

}
#git:hover{
  transform: 0.3s;

}


/* !------------------------------------------------------------------------------- */

/* ? Contact Me styling footer */


#ContactMeSec{
color: white;
margin-top: 30px;
}
.ContactMediv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    margin-top: 5vh;

}
#ContactMeSec h1 {
    text-align: center;
    font-size: 35px;
}
#ContactMeSec h1 span{
    color: #06FAEC;
}
.ContactMediv{
    margin-bottom: 4vh;
    /* border: red solid; */
}
.ContactMediv .Idiv i{
font-size: 12vh;

}
.ContactMediv .Idiv img{
  
    background-color: rgb(255, 255, 255);
width: 8vh;
    
}

.ContactMediv a{
    text-decoration: none;
    color: white;
    font-size: 11px;
   
   
}

.ContactMediv a:hover{
    color: #06FAEC;
}
.ContactMediv .Idiv{
    text-align: center;
   
}
.ContactMediv .Idiv a{
    text-align: center;
}
.contactme{
    text-align: center;
}

/*? Get in touch  footer*/

/* ?  Contact me section wiht Form*/
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-tile h2{
    font-weight: 600;
    color: rgba(247, 247, 247, 0.998);
    font-size: 40px;
}

.contact-left-tile hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:rgba(247, 247, 247, 0.998);
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: rgb(19, 19, 19);
    border-radius: 50px;
    margin-bottom: 30px;
    transition: 0.5s;
   
   
}

.contact-inputs:focus{
    border: 2px solid rgb(0, 0, 0);

}

.contact-inputs:hover{
    box-shadow: 10px 10px 5px rgba(49, 49, 49, 0.306);
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    font-size: 20px;
    resize:vertical;


}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
    
.contact-left button{
    display: flex;
    align-items: center;
    padding:10px 20px ;
    font-size:16px;
    color: white;
    gap: 5px;
    border: none;
    border-radius: 50px;    
    background: linear-gradient(270deg, #4fffc1, #618e61);
    cursor: pointer;
    transition: 0.3s;

}
.contact-left button:hover{
    gap: 7px;
    background: linear-gradient(270deg, #23f1a9, #4e964e);
    box-shadow: 10px 10px 5px rgba(49, 48, 48, 0.388);
   
    color: rgb(255, 255, 255);

}
.contact-left button i{
    font-size: 25px;

}
.contact-richt img{
    width: 500px;
    border-radius: 30%;
 
}



#Div_gapContactHr{
   display:flex;
   justify-content: center;
   align-items:center;


}
#gapContactHr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:rgba(247, 247, 247, 0.998);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: -10px -10px rgb(51, 51, 52);
  
}



